
grant {
	permission javax.security.auth.AuthPermission "modifyPrincipals";
   	permission javax.security.auth.AuthPermission "createLoginContext.JRadius";
};
