<config>
  <system>
    <settings>
    </settings>
    <admin-access>
    </admin-access>
  </system>
  <network>
    <switch id="eth0" vlan0="1 2 3 4 5*" vlan1="0 5">
    </switch>
    <interface id="loopback" ifname="lo" proto="static" ipaddr="127.0.0.1" netmask="255.0.0.0">
    </interface>
    <interface id="lan" type="bridge" ifname="eth0.0" proto="static" ipaddr="192.168.1.1" netmask="255.255.255.0">
    </interface>
    <interface id="wan" ifname="eth0.1" proto="dhcp">
    </interface>
    <dhcp lease="12h" interface="any" start="10" limit="100">
      <ignore interface="wan"></ignore>
    </dhcp>
  </network>

  <wireless>
    <wifi-device id="wl0" type="broadcom" channel="5"></wifi-device>
    <wifi-iface id="ap1" device="wl0" mode="ap" ssid="OpenWrt" hidden="0" encryption="none"></wifi-iface>
  </wireless>

  <hotspot>
    <nas nasid="MyHotSpot" network="lan"/>
    <radius server="rad01.coova.org" auth_port="1812" acct_port="1813" />
    <location location_name="My HotSpot" />
  </hotspot>

  <radiusd>
    <module 
      rlm_pap="yes"
      rlm_chap="yes"
      rlm_mschap="yes"
      rlm_eap="yes"
      rlm_eap_md5="yes"
      rlm_eap_mschapv2="yes"
      rlm_eap_tls="no"
      rlm_eap_ttls="no"
      rlm_eap_peap="no"
      rlm_realm="yes" 
      rlm_jradius="yes" 
      rlm_sql="yes">
      <pap auto_header="yes" encryption_scheme="auto"/>
      <tls CA_file="${confdir}/ssl/ca.pem" 
	  certificate_file="${confdir}/ssl/cert.pem"
	  private_key_file="${confdir}/ssl/key.pem"
	  private_key_password="changeme"
	  dh_file="${confdir}/ssl/dh"
	  random_file="${confdir}/ssl/random"
	  fragment_size="1024"
	  include_length="yes"/>
      <ttls default_eap_type="mschapv2"
	    proxy_tunneled_request_as_eap="yes"
	    copy_request_to_tunnel="yes"
	    use_tunneled_reply="yes"/>
      <peap default_eap_type="mschapv2"
	    proxy_tunneled_request_as_eap="yes"
	    copy_request_to_tunnel="yes"
	    use_tunneled_reply="yes"/>
      <realm id="realmslash" format="prefix" ignore_default="no" ignore_null="yes" delimiter="/"/>
      <realm id="realmsuffix" format="suffix" delimiter="@" ignore_default="no" ignore_null="no"/>
      <realm id="realmpercent" format="suffix" delimiter="%" ignore_default="no" ignore_null="no"/>
      <jradius keepalive="on" allow_codechange="on" allow_idchange="on" name="example" primary="localhost" connections="16"/>
    </module>
    <server 
      raddbdir="/usr/local/etc/raddb" 
      exec_prefix="/usr/local" 
      sbindir="${exec_prefix}/sbin" 
      localstatedir="${exec_prefix}/var" 
      logdir="${localstatedir}/log" 
      libdir="${exec_prefix}/lib" 
      radacctdir="${logdir}/radacct" 
      pidfile="${localstatedir}/run/radiusd.pid" 
      max_request_time="120" 
      cleanup_delay="60" 
      max_requests="1024" 
      checkrad="${sbindir}/checkrad" 
      log_file="${logdir}/local-radius.log" 
      log_auth="on" 
      log_auth_goodpass="on"
      log_auth_badpass="on"
      debug_level="0" 
      proxy_requests="on">
      <security status_server="off"/>
      <listen type="radius" ip="192.168.1.1" interface="eth0" port="1812"/>
      <listen type="radius" ip="192.168.2.1" interface="eth1" port="1812"/>
      <thread start_servers="5" max_servers="32" min_spare_servers="5"
	      max_spare_servers="16" max_requests_per_server="0"/>
    </server>
    <proxy retry_delay="5" retry_count="3" dead_time="10" default_fallback="yes" wake_all_if_all_dead="yes">
      <server id="coova"
	type="auth+acct"
        ipaddr="coova.org"
        port="1812"
        response_window="20"
        zombie_period="40"
        revive_interval="120"
        secret="coova-anonymous"/>
      <server id="fon"
	type="auth+acct"
        ipaddr="radius01.fon.com"
        port="1812"
        response_window="20"
        zombie_period="40"
        revive_interval="120"
        secret="garrafon"/>
      <pool type="fail-over" id="coova" servers="coova"/>
      <pool type="fail-over" id="fon" servers="fon"/>
      <realm pools="yes" name="fon.com" authpool="fon" 
	    acctpool="fon" secret="secret" strip="yes"/> 
      <realm pools="yes" name="coova.org" authpool="coova" 
	    acctpool="coova" strip="yes"/> 
    </proxy>
    <client id="localhost" ip="127.0.0.1/32" shared_secret="testing123"/>
    
  </radiusd>

</config>
